header {
  background-color: blueviolet;
  padding-top: 20px;
  padding-bottom: 40px;
  margin: 0px 20px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom: 4px solid rgb(203, 108, 230);
}
.header {
  max-width: 1040px;
  margin: 0 auto;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
.header img {
  border-radius: 8px;
  cursor: pointer;
}
ul:after {
  content: "";
  align-self: center;
  width: 40px;
  height: 20px;
  background-color: rgb(203, 108, 230);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: all 0.3s;
}
ul:before {
  content: "";
  align-self: center;
  width: 40px;
  height: 20px;
  background-color: rgb(203, 108, 230);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  transition: all 0.3s;
}
ul:hover:after,
ul:hover:before {
  background-color: rgb(137, 49, 161);
}
.header nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
  font-size: 20px;
}
.header a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  position: relative;
  align-items: center;
}
.header li {
  display: flex;
  align-items: center;
}
li a:after {
  content: "";
  display: block;
  width: 0;
  transform: translateY(5px);
  transition: all 0.3s;
  height: 2px;
  background-color: rgb(137, 49, 161);
  position: absolute;
}

li a:hover::after {
  transform: translateY(0px);
  width: 100%;
}

@media (max-width: 1300px){
  header {
    padding: 16px;
  }
  .header{
    flex-direction: column;
    gap: 20px;
  }
  .header span {
    order: 3;
  }
}