header {
    background-color: blueviolet;
    padding: 20px;
  }
  .header {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
  }
  .header img {
    border-radius: 8px;
    cursor: pointer;
  }
  ul:after {
    content: '';
    width: 4px;
    height: 30px;
    background-color: rgb(169, 122, 201);
    margin-left: 10px;
  }
  ul:before {
    content: '';
    width: 4px;
    height: 30px;
    background-color: rgb(169, 122, 201);
    margin-right: 10px;
  }
  .header nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 20px;
  }
  .header a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    position: relative;
    align-items: center;
  }
  .header li {
    display: flex;
    align-items: center;
  }
  li a:after {
    content: '';
    display: block;
    width: 0;
    transform: translateY(5px);
    transition: all 0.3s;
    height: 2px;
    background-color: white;
    position: absolute;
  }
  
  li a:hover::after {
    transform: translateY(0px);
    width: 100%;
  }