@import 'designs.css';
@import 'header.css';
@import 'introducao.css';
@import 'tabelas.css';
@import 'contato.css';
@import 'modal.css';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  overflow-x: hidden;
  background-color: rgb(231, 240, 248);
  font-family: 'Montserrat', sans-serif;
}
