.descricao {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .banner {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
  }
  .banner h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 48px;
    padding-bottom: 20px;
  }
  .banner h1 span {
    font-size: 48px;
    color: rgb(203, 108, 230);
  }
  .banner img {
    width: 1000px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  .banner p {
    margin-bottom: 8px;
    font-size: 20px;
  }
  .banner span {
    font-family: 'Dancing Script', cursive;
    width: 100%;
    text-align: center;
    font-size: 38px;
    font-weight: 600;
    color: rgb(203, 108, 230);
    padding-top: 20px;
  }
  @media (max-width: 1100px){
    .descricao{
      margin: 20px 20px;
    }
    .banner h1{
      text-align: center;
    }
    .banner img{
      max-width: 100%;
    }
  }