.content {
  max-width: 1040px;
  padding: 20px;
  margin: 20px auto;
  background-color: white;
}
.content h2 {
  text-align: center;
  padding-bottom: 20px;
}
.content div {
  justify-content: space-between;
  display: flex;
}
.content img {
  border-radius: 8px;
}
